:root {
    --blue: #51B3D2;
    --yellow: #F6CC35;
    --red: #D05B5B;
    --green: #79B25E;
    --jargon: #D05B5B;
    --vector: #b7ddea;
    --noise: #aecdd7;
    --black: #0a0a0a;
    --dark: #202020;
    --darkgray: #646464;
    --gray: #808080;
    --lightgray: #919191;
    --light: #BDBDBD;
    --ctrlgray: #f8f8f8;
    --archigray: #f4f4f4;
    --white: #fafafa;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

svg {
    overflow: visible;
}

#header {
    background-color: #83ada0;
    color: var(--white);
    padding: 7px 15px;
}

#header-title {
    font-weight: 700;
    font-size: 20pt;
    display: inline;
}

#header-message {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    font-size: 18pt;
    display: inline;
    margin-left: 20px;
}

#controller-bar {
    display: inline-block;
    background-color: var(--ctrlgray);
    color: var(--darkgray);
    padding: 30px 25px;
    /* height: 142px; */
    width: 250px;
}

#prompt-selector {
    width: 650px;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    height: 142px;
}

#prompt-selector-text {
    font-size: 10pt;
}

#prompt-selector-images-container {
    /* margin: 8px 0 6px 0; */
    height: 70px;
    width: 650px;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-top: 5px;
}

.prompt-selector-image-container {
    display: inline-block;
    margin-right: 8px;
    border-radius: 5px;
    border: 1px var(--white) solid;
    opacity: 50%;
    cursor: pointer;
    height: 60px;
}

.prompt-selector-image-unselected {
    opacity: 30%;
}

.prompt-selector-image-selected, .prompt-selector-image-container-selected {
    opacity: 100%;
}

.prompt-select {
    margin-top: 5px;
    width: 650px;
}

.prompt-select select {
    border-color: var(--light);
    border-radius: 3px;
    background-color: var(--ctrlgray);
    font-size: 11pt;
    width: 650px;
}

#prompt-1-container select {
    color: var(--blue);
}

#prompt-2-container {
    display: none;
}

#prompt-2-container select {
    color: var(--yellow);
}

#prompt-compare {
    font-size: 10pt;
    /* margin: 5px 0px 0px -15px; */
    margin: 7px 0px 0px 0px;
    position: relative;
    /* left: -14px; */
}

#prompt-compare-add-button, #prompt-compare-minus-button {
    position: relative;
    display: inline-block;
}

#prompt-compare-add-button {
    cursor: pointer;
}

#prompt-compare-minus-button {
    opacity: 0;
    display: none;
}

#prompt-compare-add-button-plus, #prompt-compare-minus-button-minus {
    position: absolute;
    width: 15px;
    line-height: 15px;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    vertical-align: middle;
}

#prompt-compare-add-button-circle, #prompt-compare-minus-button-circle {
    position: absolute;
}

#prompt-compare-minus-button {
    font-size: 18pt;
    left: -5px;
}

#prompt-compare-text {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    top: -2.5px;
}

#controller {
    display: inline-block;
    margin-left: 55px;
}

#controller-buttons {
    display: inline-block;
    vertical-align: middle;
}

.controller-button-container {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin: 3px;
    cursor: pointer;
}

.controller-button-background {
    position: absolute;
    opacity: 0%;
}

.controller-button-background#controller-button-play-background {
    opacity: 80%;
}

.controller-button {
    position: absolute;
    display: inline-block;
    margin: auto;
    filter: invert(38%) sepia(0%) saturate(0%) hue-rotate(259deg) brightness(97%) contrast(81%);;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.controller-button#controller-button-play {
    filter: invert(100%) sepia(60%) saturate(703%) hue-rotate(218deg) brightness(125%) contrast(96%);
}

.controller-button#controller-button-pause {
    filter: invert(100%) sepia(60%) saturate(703%) hue-rotate(218deg) brightness(125%) contrast(96%);
    display: none;
}

#controller-timestep {
    display: inline-block;
    width: 75px;
    text-align: center;
    vertical-align: middle;
    margin-left: 40px;
    position: relative;
    top: -3px;
}

#controller-timestep-text {
    font-size: 12pt;
    color: var(--gray);
}

#controller-timestep-number {
    color: var(--gray);
    font-size: 50pt;
    margin-top: -7px;
}

#controller-timestep-slider-container {
    margin-top: -2px;
    height: 6px;
}

#controller-timestep-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 2px;
    background: var(--gray);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .1s;
    transition: opacity .1s;
    margin: 0;
    vertical-align: top;
}

#controller-timestep-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--gray);
    border: var(--ctrlgray) 1px solid;
    cursor: pointer;
}

#controller-timestep-slider:hover {
    opacity: 1;
}

#main {
    position: relative;
    display: inline-block;
}

#sd-expl-container {
    font-weight: 300;
    text-align: center;
    font-size: 24px;
}

#architecture-container {
    display: inline-block;
    width: 840px;
    height: 500px;
    position: absolute;
    top: 0;
    margin-left: -13px;
    box-sizing: border-box;
}

#stable-diffusion-description-text {
    color: var(--darkgray);
    text-align: left;
    font-size: 11pt;
    padding-top: 30px;
    padding-left: 40px;
}

#hyperparameter-control-show-hide-container {
    position: absolute;
    left: 7px;
    margin: 30px;
    font-size: 10pt;
    color: var(--light);
    cursor: pointer;
    padding: 3px 8px 3px 6px;
    border-color: var(--light);
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    width: 155px;
    display: none;
}

#hyperparameter-control-show-hide-img {
    display: inline-block;
    filter: invert(68%) sepia(23%) saturate(0%) hue-rotate(274deg) brightness(100%) contrast(113%);
    margin-right: 5px;
    position: relative;
    top: 1px;
}

#hyperparameter-control-show-hide-text {
    display: inline-block;
}

.architecture-component-container {
    height: 0px;
    vertical-align: middle;
    display: inline-block;
    position: absolute;
}

#your-prompt-container {
    left: 30px;
    width: 90px;
    pointer-events: none;
}

#your-prompt-text-prompt {
    color: var(--blue);
    font-size: 9pt;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: italic;
}

.jargon-text {
    color: var(--jargon);
    cursor: pointer;
    pointer-events: initial;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 9pt;
}

.jargon-text:hover {
    text-decoration: underline;
}

#your-prompt-text {
    color: var(--blue);
    position: absolute;
    top: 169px;
    width: 87px;
    padding-right: 3px;
    text-align: right;
}

#your-prompt-text-your {
    display: none;
}

.architecture-svg {
    position: absolute;
}

#your-prompt-svg {
    height: 20px;
    width: 90px;
    top: 152px;
}

#generate-text-vector-container {
    left: 122px;
    top: 202px;
    width: 100px;
    height: 50px;
    cursor: pointer;
}

#generate-text-vector-svg {
    width: 100px;
    height: 50px;
    top: 0px;
    pointer-events: none;
    cursor: inherit;
}

#generate-text-vector-rectangle {
    pointer-events: none;
    cursor: inherit;
}

#generate-text-vector-text {
    position: absolute;
    top: 10px;
    line-height: 15px;
    pointer-events: none;
    cursor: inherit;
}

.architecture-rectangle {
    fill: none;
    stroke: var(--archigray);
    stroke-width: 4px;
    stroke-linejoin: round;
}

.architecture-text {
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

#generate-text-vector-denoise-latent-container {
    width: 160px;
    top: 67px;
    left: 224px;
    pointer-events: none;
}

#generate-text-vector-denoise-latent-guide-text, #denoise-latent-cycle-latent-text {
    width: auto;
    text-align: right;
    font-size: 13px;
    color: var(--gray);
    position: relative;
    top: 144px;
    margin-right: 10px;
}

#generate-text-vector-denoise-latent-svg {
    width: 160px;
    top: 152px;
}

#generate-text-vector-denoise-latent-token-vectors-container {
    top: 155px;
    position: relative;
    padding-top: 0;
    padding-left: 2px;
}

#generate-text-vector-denoise-latent-tokens-container {
    text-align: right;
    display: inline-block;
}

#generate-text-vector-denoise-latent-vectors-container {
    text-align: left;
    display: inline-block;
    padding-left: 5px;
    position: absolute;
    top: 0px; 
}

.generate-text-vector-denoise-latent-token{
    border-radius: 5px;
    border: 1px solid var(--blue);
    color: var(--blue);
    display: inline-block;
    margin: 2px;
    padding: 2px;
    font-size: 9pt;
}

.generate-text-vector-denoise-latent-vector-cell {
    color: white;
    display: inline-block;
    font-size: 7pt;
    border: 1px white solid;
    height: 22px;
    width: 22px;
    margin-left: -1px;
    font-family: "Roboto Condensed", sans-serif;
    vertical-align: middle;
    text-align: center;
    line-height: 22px;
    background-color: var(--vector);
}

.generate-text-vector-denoise-latent-vector {
    position: relative;
}


.generate-text-vector-denoise-latent-vector-cell-last {
    background: linear-gradient(0.25turn, var(--vector), white 55%);
}

#generate-text-vector-denoise-latent-svg-token-vector-g {
    width: 106px;
}

.generate-text-vector-denoise-latent-vector-horizontal-dots-svg {
    width: 35px;
    height: 20px;
    left: 68px;
    position: absolute;
    top: 1px;
}

.dots {
    fill: var(--vector);
}

#denoise-latent-container {
    left: 386px;
    width: 140px;
    top: 155px;
    height: 105px;
    position: absolute;
    cursor: pointer;
}

#denoise-latent-svg {
    top: 0px;
    width: 1px;
    height: 1px;
}

#denoise-latent-text {
    position: relative;
    top: 12px;
}

#predict-noise, #remove-noise {
    width: 50px;
    height: 26px;
    padding: 12px 0;
    top: 40px;
    display: inline-block;
    background-color: #fafafaff;
    border-top-color: #64646400;
    border-top-width: 1px;
    border-top-style: solid;
    color: var(--darkgray);
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    position: absolute;
    opacity: 100%;
    pointer-events: none;
}

#predict-noise {
    left: 13px;
}

#remove-noise {
    left: 76px;
}

#unet-guidance-scale-control-container {
    display: none;
    opacity: 0%; 
    position: absolute;
    top: 324px;
    left: 390px;
    width: 250px;
}

#unet-guidance-scale-expl-window {
    display: none;
    position: absolute;
    left: 18px;
    width: 194px;
    text-align: left;
    font-size: 9pt;
    background-color: var(--archigray);
    color: var(--gray);
    border-radius: 3px;
    padding: 6px 6px 7px 6px;
    margin-top: 3px;
}
#unet-guidance-scale-control-text-container {
    width: 90px;
    position: relative;
}

#unet-guidance-scale-control-text {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 13px;
}

#unet-guidance-scale-control-dropdown-container {
    position: relative;
    top: -1px;
}

#unet-in-noise-container {
    display: none;
    left: 350px;
}

#unet-in-noise-svg {
    top: 98px;
    height: 24px;
    width: 24px;
}

#unet-in-noise-svg rect {
    cursor: pointer;
}

#unet-in-noise-expl-container {
    width: 250px;
    text-align: right;
    left: -256px;
    top: 96px;
}

#unet-in-noise-expl-text-1 {
    display: inline-block;
    margin-right: 3px;
}

#unet-in-noise-expl-text-2 {
    display: inline-block;
    margin-right: 3px;
}

#unet-in-noise-expl-text-3 {
    display: inline-block;
}

#unet-in-noise-arrow-container {
    display: none;
    left: 323px;
}

#unet-in-noise-arrow-svg {
    top: 102px;
}

.hyperparameter {
    /* font-family: "Roboto Condensed", sans-serif; */
    font-size: 9pt;
    color: var(--gray);
    /* display: none; */
}

#unet-in-noise-seed-control-container {
    opacity: 0;
    position: absolute;
    top: 77px;
    left: -256px;
    width: 250px;
    height: 15px;
    text-align: right;
    vertical-align: bottom;
}

#unet-in-noise-seed-control-text-container, #unet-guidance-scale-control-text-container {
    display: inline-block;
    margin-right: 5px;
}

#unet-in-noise-seed-control-text-1, #unet-in-noise-seed-control-text-2 {
    display: inline-block;
}

#unet-in-noise-seed-control-text-1 {
    margin-right: 3px;
    font-weight: bold;
    color: var(--gray);
}

.hyperparameter-dropdown-container {
    display: inline-block;
}

.custom-select select {
    font-size: 9pt;
    border-color: var(--gray);
    border-radius: 3px;
    color: var(--gray);
}

#denoise-latent-out-noise-container {
    left: 555px;
    width: 45px;
    pointer-events: none;
}

#denoise-latent-out-noise-img {
    position: absolute;
    top: 116.5px;
    height: 45px;
    width: 45px;
}

#denoise-latent-out-noise-expl-container {
    text-align: right;
    color: var(--gray);
    width: 70px;
    top: 164px;
    right: 0;
    font-size: 13px;
    position: absolute;
}

#denoise-latent-cycle-container {
    opacity: 1;
    left: 322px;
    pointer-events: none;
    width: 269px;
}

#denoise-latent-cycle-svg {
    top: 0px;
    width: 269px;
    height: 128.5px;
    pointer-events: none;
}

#denoise-latent-cycle {
    stroke-linejoin: round;
    stroke-dashoffset: 4;
}

@keyframes unet-cycle-animation {
    from {
        stroke-dashoffset: 4;
    }

    to {
        stroke-dashoffset: -6;
    }
}

#denoise-latent-cycle-latent-text {
    top: 101px;
    width: 53px;
}

#denoise-latent-decoder-container {
    opacity: 100%;
    left: 528px;
    width: 85px;
    pointer-events: none;
}

.architecture-dashed {
    stroke-dasharray: 6 4;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#denoise-latent-decoder-svg {
    pointer-events: none;
    width: 85px;
    height: 20px;
    top: 130.5px;
}

@keyframes unet-decoder-arrow-animation {
    from {
        stroke-dashoffset: 2;
    }

    to {
        stroke-dashoffset: -8;
    }
}

#decoder-container {
    left: 620px;
    width: 75px;
    pointer-events: none;
}

#decoder-svg {
    top: 124px;
    height: 50px;
    width: 75px;
}

#decoder-generated-image-container {
    left: 697px;
    width: 34px;
}

#decoder-generated-image-svg {
    top: 130.5px;
    width: 34px;
    height: 20px;
}

#generated-image-container {
    position: absolute;
    left: 728px;
    pointer-events: none;
    width: 90px;
}

#generated-image, #generated-image-2 {
    position: absolute;
    width: 90px;
    height: 90px;
    pointer-events: initial;
}

#generated-image {
    margin-top: 90.5px;
    /* should be 90.5-45-alpha after turning on comparison, set alpha=5 */
}

#generated-image-2 { 
    opacity: 0;
    margin-top: 145px;
    pointer-events: none;
}

#latent-umap-container {
    display: inline-block;
    padding: 26px 38px;
    position: absolute;
    top: 0;
    left: 827px;
    background-color: white;
    width: -webkit-fill-available;
    border-left: var(--light) 1px solid;
}

#latent-umap-title {
    font-size: 14pt;
    font-weight: bold;
    color: var(--black);
}

#latent-umap-subtitle {
    font-size: 9pt;
    color: var(--gray);
    margin-top: -1.5px;
}

#umap-container {
    height: 220px;
    width: 220px;
    margin-top: 5px;
    border: var(--light) solid 1px;
}

#umap-svg {
    height: 300px;
    width: 300px;
}

#umap-highlight-svg text {
    font-size: 10pt;
}

#latent-umap-reduced {
    font-size: 7pt;
    color: var(--light);
    padding-top: 3px;
}

#latent-umap-expl {
    font-size: 7pt;
    color: var(--gray);
    width: 220px;
}

/* level 2 expl */
#generate-text-vector-l2-expl-container {
    pointer-events: none;
    opacity: 0; 
    top: 125px;
    left: 123px;
    width: 500px;
    height: 214px;
    position: absolute;
}

#generate-text-vector-l2-expl-reduce-button {
    opacity: 0.3;    
    margin: 10px;
    position: absolute;
    cursor: pointer;
}

#generate-text-vector-l2-expl-reduce-button:hover {
    opacity: 0.8;    
}

#generate-text-vector-l2-tokenizer-container {
    width: 85px;
    position: relative;
    left: 10px;
}

#generate-text-vector-l2-tokenizer-container svg {
    width: 85px;
    height: 50px;
    position: absolute;
    top: 84.5px;  
}

#generate-text-vector-l2-tokenizer-text {
    width: 85px;
    height: 33px;
    line-height: 33px;
    position: absolute;
    top: 84.5px;
    vertical-align: middle;
}

#generate-text-vector-l2-tokenizer-encoder-container {
    position: absolute;
    left: 97px;
}

#generate-text-vector-l2-tokenizer-encoder-token-arrow-svg {
    height: 20px;
    top: 93px;
    position: absolute;
}

#generate-text-vector-l2-encoder-container {
    position: relative;
    left: 243px;
    top: 78px;
    height: 50px;
    width: 85px;
    cursor: pointer;
}

#generate-text-vector-l2-encoder-container svg {
    position: absolute;
    width: 85px;
    height: 50px;
}

#generate-text-vector-l2-encoder-text {
    position: absolute;
    top: 9px;
    line-height: 16px;
    width: 85px;
    vertical-align: middle;
    text-align: center;
}

#generate-text-vector-l2-tokenizer-encoder-expl-container {
    color: var(--gray);
    font-size: 13px;
    width: max-content;
    text-align: center;
    position: absolute;
    top: 86px;
}

#generate-text-vector-l2-tokenizer-encoder-expl-container svg {
    position: inherit;
    top: 7px;
    left: 39px;
}

div#generate-text-vector-l2-tokenizer-encoder-expl-text {
    width: 144px;
    position: absolute;
}

#generate-text-vector-l2-tokenizer-encoder-expl-text-details {
    position: absolute;
    top: -41px;
    left: 49px;
    width: 290px;
    text-align: left;
    font-style: italic;
    font-size: 12px;
    color: var(--lightgray);
}

#generate-text-vector-l2-tokenizer-encoder-expl-arrow path {
    transform: translate(19px, -37px) rotate(100deg);
}

#generate-text-vector-l2-tokenizer-encoder-tokens-container {
    display: inline-block;
    position: absolute;
    top: 112px;
    width: 132px;
    padding: 0 2px;
    text-align: center;
}

#generate-text-vector-l2-tokenizer-encoder-token-dots-svg {
    position: absolute;
    top: 161px;
    width: 136px;
}

#generate-text-vector-l2-encoder-expl-text {
    color: var(--gray);
    font-size: 13px;
    width: max-content;
    text-align: center;
    position: absolute;
    top: 84px;
    left: 337px;
}

#generate-text-vector-l2-cover {
    position: absolute;
    left: 622px;
    height: 300px;
    width: -webkit-fill-available;
    background-image: linear-gradient(to right, #ffffff00 , #ffffff80, #ffffffff, #ffffffff);
    opacity: 0;
}


/* Denoise latent l2 expl */
#denoise-latent-l2-expl-container {
    display: none;
    opacity: 0%;
    position: absolute;
    top: 133px;
    left: 157px;
}

#denoise-latent-l2-expl-reduce-button {
    opacity: 0.3;    
    margin: 10px;
    position: absolute;
    cursor: pointer;
    top: 17px;
    left: 136px;
}

#denoise-latent-l2-expl-reduce-button:hover {
    opacity: 0.8;    
}

#denoise-latent-l2-expl-prev-latent-container {
    width: 45px;
    position: absolute;
    left: 80px;
    top: 51px;
    text-align: right;
}

#denoise-latent-l2-expl-prev-latent-text {
    width: 65px;
    font-size: 12px;
    position: relative;
    right: 20px;
    top: -20px;
    color: var(--lightgray);
    padding-bottom: 3px;
}

#denoise-latent-l2-expl-prev-latent-image-container {
    cursor: pointer;    
}

#denoise-latent-l2-expl-prev-latent-img{
    height: 45px;
    width: 45px;
}

#denoise-latent-l2-expl-prev-latent-timestep {
    font-size: 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    color: var(--white);
    text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    position: relative;
    top: -23px;
    right: 4px;
}

#denoise-latent-out-latent-timestep {
    opacity: 0%;
    font-size: 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-style: italic;
    color: var(--white);
    text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
    position: absolute;
    top: 143px;
    right: 4px;
}

#denoise-latent-l2-expl-central-line-container {
    position: absolute;
    top: 65px;
}

#denoise-latent-l2-expl-central-line-svg {
    position: absolute;
    top: 0px;
    left: 127px;
    width: 353px;
    height: 20px;
}

#denoise-latent-l2-expl-central-line-timestep-expl-text {
    font-size: 12px;
    color: var(--lightgray);
    font-style: italic;
    position: absolute;
    top: -57px;
    left: 140px;
    background-color: #FAFAFA;
    box-shadow: 3px 3px 10px -1px #00000030;
    width: 196px;
    padding: 7px;
    display: none;
}

#denoise-latent-l2-expl-central-line-minus-text {
    font-size: 20px;
    font-weight: 700;
    fill: var(--gray);
}

#denoise-latent-l2-expl-latent-unet-arrow-svg {
    height: 60px;
    width: 50px;
    position: absolute;
    top: 75px;
    left: 141px;
}

#denoise-latent-l2-expl-guidance-scale-expl-container {
    position: absolute;
    top: 153px;
    left: 3px;
}

#denoise-latent-l2-expl-guidance-scale-arrow-svg {
    position: absolute;
    top: 51px;
    left: 180px;
    display: none;
}

#denoise-latent-l2-expl-unet-container {
    left: 205px;
    top: 70px;
    position: absolute;
}

#denoise-latent-l2-expl-guidance-scale-expl-text {
    font-size: 12px;
    color: var(--lightgray);
    /* font-style: italic; */
    width: 323px;
    position: absolute;
    top: 58px;
    left: 135px;
    text-align: center;
    font-weight: 300;
}

#denoise-latent-l2-expl-guidance-scale-expl-text-how {
    color: var(--jargon);
    text-decoration: underline;
    font-style: italic;
    font-size: 12px;
    cursor: pointer;
    margin-top: 3px;
}

#denoise-latent-l2-expl-unet-svg {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 27px;
    left: -5px;
}

#denoise-latent-l2-expl-unet-rect {
    fill: var(--archigray);
}

#denoise-latent-l2-expl-unet-text {
    position: absolute;
    top: 40px;
    line-height: 16px;
    width: 75px;
    text-align: center;
}

#denoise-latent-l2-expl-unet-desc-text {
    position: absolute;
    top: 58px;
    color: var(--lightgray);
    font-size: 12px;
    text-align: center;
    width: 75px;
}

#denoise-latent-l2-expl-noise-container {
    position: relative;
    left: 288px;
    top: 145px;
}

.denoise-latent-l2-expl-noise {
    width: 24px;
    height: 24px;
}

#denoise-latent-l2-expl-noise-svg {
    height: 1px;
    width: 1px;
    position: absolute;
}

#denoise-latent-l2-expl-noise-img {
    position: absolute;
    top: -12px;
    left: 15px;
    border-width: 0px;
    border-style: solid;
    border-color: #ffffff00;
    box-sizing: border-box;
}

#denoise-latent-l2-expl-noise-text {
    font-size: 12px;
    color: var(--lightgray);
    position: relative;
    top: 14px;
    left: 25px;
    display: none;
}

#denoise-latent-l2-expl-weaken-text {
    font-size: 12px;
    color: var(--lightgray);
    position: relative;
    left: 51px;
    top: -17px;
    text-decoration: underline;
    cursor: pointer;
}

#denoise-latent-l2-expl-weaken-arrow-svg {
    position: absolute;
    left: 112px;
    top: -17px;
    height: 1px;
    width: 1px;
    display: none;
}

#denoise-latent-l2-expl-weaken-expl {
    color: var(--lightgray);
    font-size: 12px;
    font-style: italic;
    width: 260px;
    position: absolute;
    /* top: 2px; 
    left: 66px; */
    top: -29px; 
    left: 112px;
    text-align: left;
    background-color: #FAFAFA;
    box-shadow: 3px 3px 10px -1px #00000030;
    padding: 7px;
    z-index: 1;
    display: none;
}

#denoise-latent-l2-right-cover {
    position: absolute;
    left: 795px;
    height: 300px;
    width: -webkit-fill-available;
    background-image: linear-gradient(to right, #ffffff00 , #ffffff80, #ffffffff, #ffffffff);
    opacity: 0%;
}

#denoise-latent-l2-left-cover {
    position: absolute;
    left: -70px;
    height: 300px;
    width: 200px;
    background-image: linear-gradient(to right, #ffffffff, #ffffffff, #ffffff80, #ffffff00);
    opacity: 0%;
}

#denoise-latent-l2-expl-text-vectors-arrow-svg {
    position: absolute;
    top: 153px;
    left: -25px;
    opacity: 0%;
}

/* level 3 expl */
#generate-text-vector-l3-expl-container {
    display: none;
    top: 125px;
    left: 123px;
    width: 540px;
    height: 328px;
    position: relative;
    z-index: 1000;
    /* border: 4px solid var(--archigray);
    border-radius: 5px;
    background-color: white; */
    background-color: #FAFAFA;
    box-shadow: 3px 3px 10px -1px #00000030;
}

#generate-text-vector-l3-expl-text-container {
    color: var(--lightgray); 
    font-size: 15px;
    text-align: center;
    position: absolute;
    top: 230px;
    padding: 15px;
    width: 510px;
    font-weight: 300;
}

#generate-text-vector-l3-expl-text-1-1,
#generate-text-vector-l3-expl-text-1-2,
#generate-text-vector-l3-expl-text-1-3 {
    display: inline-block;
}

#generate-text-vector-l3-expl-text-1-2 {
    font-weight: 600;
    padding: 0 4px;
}

#generate-text-vector-l3-expl-vis-container {
    position: relative;
    left: -1px;
    top: 53px;
}

#generate-text-vector-l3-expl-vis-input-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 172px;
    text-align: right;
}

#generate-text-vector-l3-expl-vis-input-img-1, #generate-text-vector-l3-expl-vis-input-img-2 {
    width: 40px;
    height: 40px;
    border-width: 7px;
    border-style: solid;
}

#generate-text-vector-l3-expl-vis-input-img-1 {
    border-color: #C1DEA9;
}
#generate-text-vector-l3-expl-vis-input-img-2 {
    border-color: #F9BDBD;
    margin-top: 5px;
}

#generate-text-vector-l3-expl-vis-input-tokens-1, #generate-text-vector-l3-expl-vis-input-tokens-2 {
    margin-right: -3px;
    top: -2px;
    position: relative;
}

.generate-text-vector-l3-expl-vis-token-1, .generate-text-vector-l3-expl-vis-token-2 {
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    display:inline-block;
    margin: 2px;
    padding: 2px;
    font-size: 9pt;
    text-align: center;
}

.generate-text-vector-l3-expl-vis-token-1 {
    border-color: #c1dea9;
    color: #96b67c;
}

.generate-text-vector-l3-expl-vis-token-2 {
    border-color: #f9bdbd;
    color: #d89595;
}

#generate-text-vector-l3-expl-image-encoder-container {
    position: absolute;
    top: -5px;
    left: 185px;
    width: 65px;
}

#generate-text-vector-l3-expl-text-encoder-container {
    position: absolute;
    top: -5px;
    left: 252px;
    width: 65px;
    z-index: 20000;
}

#generate-text-vector-l3-expl-image-encoder-text,
#generate-text-vector-l3-expl-text-encoder-text {
    font-size: 15px;
    color: #aaaaaa;
    position: absolute;
    top: -39px;
    width: 65px;
    text-align: center;
}

#generate-text-vector-l3-expl-image-encoder-rect {
    background-color: #e4e4e4;
    width: 30px;
    height: 180px;
    border-radius: 10px;
    margin-left: 17.5px;
}
#generate-text-vector-l3-expl-text-encoder-rect {
    border: 3px solid #e4e4e4;
    width: 25px;
    height: 175px;
    border-radius: 10px;
    margin-left: 17.5px;
    background-color: white;
}

#generate-text-vector-l3-expl-space-container {
    position: absolute;
    top: -5px;
    left: 340px;
}

#generate-text-vector-l3-expl-space-text {
    font-size: 15px;
    color: #aaaaaa;
    position: absolute;
    top: -24px;
    width: 180px;
    text-align: center;
}

#generate-text-vector-l3-expl-space-vis {
    width: 175px;
    height: 175px;
    border: 3px solid #e4e4e4;
    background-color: white;
}

.generate-text-vector-l3-expl-space-vis-1-image-vector-text,
.generate-text-vector-l3-expl-space-vis-1-text-vector-text,
.generate-text-vector-l3-expl-space-vis-2-image-vector-text,
.generate-text-vector-l3-expl-space-vis-2-text-vector-text {
    font-size: 11px;
    /* font-style: italic; */
    font-family: "Roboto Condensed", sans-serif;
}

#generate-text-vector-l3-expl-space-vis-1-image-vector-g {
    transform: translate(15px,32px);
    fill: #ffffff;
}

#generate-text-vector-l3-expl-space-vis-1-text-vector-g {
    transform: translate(26px,57px);
    fill: #8a8a8a;
}

#generate-text-vector-l3-expl-space-vis-2-image-vector-g {
    transform: translate(79px,122px);
    fill: #ffffff;
}

#generate-text-vector-l3-expl-space-vis-2-text-vector-g {
    transform: translate(62px,146px);
    fill: #8a8a8a;
}

#generate-text-vector-l3-expl-vis-lines-1-image-container,
#generate-text-vector-l3-expl-vis-lines-2-image-container {
    position: absolute;
    z-index: 10000;
}

#generate-text-vector-l3-expl-vis-lines-1-image-g {
    transform: translate(169px, 41px);
}

#generate-text-vector-l3-expl-vis-lines-1-text-container, 
#generate-text-vector-l3-expl-vis-lines-2-text-container {
    position: absolute;
    z-index: 30000;
}

#generate-text-vector-l3-expl-vis-lines-1-text-g {
    transform: translate(173px, 67px);
}

#generate-text-vector-l3-expl-vis-lines-2-image-g {
    transform: translate(169px, 131px);
}

#generate-text-vector-l3-expl-vis-lines-2-text-g {
    transform: translate(173px, 155px);
}

#generate-text-vector-l3-expl-x-svg {
    height: 15px;
    width: 15px;
    display: block;
    cursor: pointer;
    position: absolute;
    left: 12px;
    top: 12px;
}

/* latent denoiser l3 */
#latent-denoiser-l3-expl-container {
    /* display: none;
    opacity: 0%; */
}

#latent-denoiser-l3-expl-vis-svg {
    position: absolute;
    left: 320px;
    top: 360px;
}

#latent-denoiser-l3-expl-vis-leave-img {
    opacity: 0.3;    
    margin: 10px;
    position: absolute;
    cursor: pointer;
    top: 298px;
    left: 465px;
}

#latent-denoiser-l3-expl-vis-leave-img:hover {
    opacity: 0.7;    
}

#latent-denoiser-l3-expl-text-container {
    font-weight: 300;
    font-size: 12px;
    color: var(--lightgray);
    position: absolute;
    left: 320px;
    top: 400px;
}

#latent-denoiser-l3-expl-vis-tick-label-expl-g,
#latent-denoiser-l3-expl-vis-arrow-g,
#latent-denoiser-l3-expl-vis-impact-g {
    display: none;
}
